[Unit]
Description=Alarm Button GPIO setup
After=local-fs.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/alarm-button
ExecStart=/bin/bash -lc 'cd ${WORKDIR} && ./setup.sh'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
